################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstClounProj/.vs/FirstClounProj
/FirstClounProj/FirstClounProj/bin/Debug/netcoreapp3.1
/FirstClounProj/FirstClounProj/obj
/FirstClounProj/FirstClounProj/FirstClounProj.csproj.user
/FirstClounProj/FirstClounProj/wwwroot/lib
