<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@*@ViewBag.Title*@First Core Project</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    @*<div>
        <div><h1>Hi from Layout page.</h1></div>
        @RenderBody()
    </div>*@
    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
