
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <h1>hi from home Contact method</h1>
    <p>Views>Shared>View</p>
</body>
</html>
