
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h1>hi from home About method</h1>

    <h1>signle-backend code:</h1>
    <h3>@DateTime.Now.ToString("dd-MM-yyyy")</h3>
    <h3>Sum= @(5 + 9)</h3>

    <h1>Multi-backend code:</h1>
    @{
        int a = 10;
        int b = 15;
        int c = a + b;
    }
    <h3>Sum= @c</h3>

    <h3>My email - Bissou@html.com</h3>

    <h3>My email - @@html.com - escape sequence - razor viewengin is intelegent</h3>

    <p>Home>About>View</p>
</body>
</html>
