
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h1>hi from home About method</h1>
    <p>Home>About>View</p>
</body>
</html>
