@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<img src="~/images/logo.png" alt="logo" class="logo" />*@
    <div class="container">
        <h1 class="h1">Welcome from Home>Contact View</h1>
    </div>
