@{
    ViewData["Title"] = "Index";
}
@section BreadCrumb{
    <nav aria-label="BreadCrumb">
        <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
}

<section class="jumbotron text-center my-0">
    <div class="container py-5">
        <h1 class="h1">Welcome from Home>Index View</h1>
        <p class="lead text-muted">
            Bootstrap is a free and open-source CSS framework directed at responsive,
            mobile-first front-end web development. It contains CSS- and JavaScript-based
            design templates for typography, forms, buttons, navigation, and other interface components.
        </p>
        <p>
            <a href="#" class="btn btn-primary">Welcome</a>
        </p>
    </div>
</section>

<div class="pt-5 pb-4  mb-0 bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg">
                    <img class="card-img-top" src="~/images/boots-trap-logo.jpg">
                    <div class="card-body">
                        <p class="card-text">this is to show some description of application</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="~/images/boots-trap-logo.jpg">
                    <div class="card-body">
                        <p class="card-text">this is to show some description of application</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg">
                    <img class="card-img-top" src="~/images/boots-trap-logo.jpg">
                    <div class="card-body">
                        <p class="card-text">this is to show some description of application</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section HomeIndexScripts{
    <script>
        $(document).ready(function () {
            //alert("hi from home index view");
        });
    </script>
}