
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    @*<img src="~/images/logo.png" alt="logo" class="logo"/> room wwwroot folder-default root content folder *@

    @*<img src="../MyStaticFiles/Images/logo.png"> OR dawn*@
    <img src="~/MyStaticFiles/Images/logo.png">

    <p>Home>Index>View</p>
    <h1>hi from home index method</h1>
</body>
</html>
