
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OutView</title>
</head>
<body>
    <h1>hi from OtherViewessource folder and OutView </h1>
    <p>OtherViewessource folder>OutView</p>
</body>
</html>
