@using FirstClounProj.Enums
@model BookModel
@{
    ViewData["Title"] = "Add New Book";
}
@section BreadCrumb{
    <nav aria-label="BreadCrumb">
        <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item"><a href="/Book/GetALlBooks">Books</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add New Book</li>
        </ol>
    </nav>
}
<div class="container">
    <h1 class="h1 text-center">Add New Book</h1>

    @if (ViewBag.CheckSuccess == true) { 
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> The new book is add Successfully. <br />
            Click on <a asp-controller="Book" asp-action="GetBookById" asp-route-id="@ViewBag.GetBookId">detailes</a> to see this book informations.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
     }

    <form method="post" asp-controller="Book" asp-action="AddNewBook">
        <div asp-validation-summary="ModelOnly" class="text-white bg-danger">

        </div>
        <div class="form-group">
            <label asp-for="bookTitle"></label>
            <input asp-for="bookTitle" class="form-control" />
            <span asp-validation-for="bookTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="bookAuthor"></label>
            <input asp-for="bookAuthor" class="form-control" />
            <span asp-validation-for="bookAuthor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="bookCategory"></label>
            <input asp-for="bookCategory" class="form-control" />
            <span asp-validation-for="bookCategory" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="bookLanguage1"></label>
            <select asp-for="bookLanguage1" class="form-control" asp-items="Html.GetEnumSelectList<BookLanguageEnum>()">
                <option value="">--Select Language Please--</option>
           </select>
            <span asp-validation-for="bookLanguage1" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="bookTotalPages"></label>
            <input asp-for="bookTotalPages" class="form-control" />
            <span asp-validation-for="bookTotalPages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="bookDescription"></label>
            <textarea asp-for="bookDescription" class="form-control"></textarea>
            <span asp-validation-for="bookDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="createdDate"></label>
            <input asp-for="createdDate" class="form-control"/>
            <span asp-validation-for="createdDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="updateDate"></label>
            <input asp-for="updateDate" class="form-control"/>
            <span asp-validation-for="updateDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add New Book" class="btn btn-outline-success"/>
        </div>
    </form>
</div>

