
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetALlBooks</title>
</head>
<body>
    <h1>hi from Book GetALlBooks method</h1>
    <p>Book>GetALlBooks>View</p>
    <div>
        <span>Please click button to get all books: </span><button>Click me!</button>
    </div>
</body>
</html>
