@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "All Books";
}
@section BreadCrumb{
    <nav aria-label="BreadCrumb">
        <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item"><a href="/Book/GetALlBooks">Book</a></li>
            <li class="breadcrumb-item active" aria-current="page">Get All Books</li>
        </ol>
    </nav>
}
<div class="pt-5 pb-4  mb-0 bg-light">
    <h1 class="h1 text-muted text-center display-4">All Books</h1>
    <div class="container py-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-lg">
                        <img class="card-img-top" src="~/images/boots-trap-logo.jpg">
                        <div class="card-body">
                            <h3 class="card-text">@item.bookTitle</h3>
                            <p class="card-text">@item.bookDescription</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/Book/GetBookById/@item.bookId" class="btn btn-sm btn-outline-secondary">View details</a>
                                </div>
                                <small class="text-muted">@item.bookAuthor</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>